<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.anxietyhealth">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/main"
        android:label="@string/app_name"
        android:roundIcon="@drawable/main"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".patientpayment.patientpayment"></activity>
        <activity android:name=".admin.adminmain"></activity>
        <activity android:name=".Messagesdirectory.Profileshow" />
        <activity android:name=".Messagesdirectory.Chatactivity" />
        <activity android:name=".Messagesdirectory.allusershow" />
        <activity android:name=".Profileshow" />
        <activity android:name=".Platform" />
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ProfileActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".LoginActivity" />
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            tools:ignore="WrongManifestParent" />
    </application>

</manifest>